        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close1 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close1:hover,
        .close1:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close2 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close2:hover,
        .close2:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close3 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close3:hover,
        .close3:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close4 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close4:hover,
        .close4:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close5 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close5:hover,
        .close5:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close6 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close6:hover,
        .close6:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close7 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close7:hover,
        .close7:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close8 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close8:hover,
        .close8:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close9 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close9:hover,
        .close9:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close10 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close10:hover,
        .close10:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close11 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close11:hover,
        .close11:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close12 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close12:hover,
        .close12:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close13 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close13:hover,
        .close13:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close14 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close14:hover,
        .close14:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close15 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close15:hover,
        .close15:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close16 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close16:hover,
        .close16:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close17 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close17:hover,
        .close17:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close18 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close18:hover,
        .close18:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close19 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close19:hover,
        .close19:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close20 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close20:hover,
        .close20:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close21 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close21:hover,
        .close21:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close22 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close22:hover,
        .close22:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close23 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close23:hover,
        .close23:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close24 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close24:hover,
        .close24:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close25 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close25:hover,
        .close25:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close26 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close26:hover,
        .close26:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close27 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close27:hover,
        .close27:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close28 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close28:hover,
        .close28:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close29 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close29:hover,
        .close29:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close30 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close30:hover,
        .close30:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close31 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close31:hover,
        .close31:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close32 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close32:hover,
        .close32:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close33 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close33:hover,
        .close33:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close34 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close34:hover,
        .close34:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close35 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close35:hover,
        .close35:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close36 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close36:hover,
        .close36:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close37 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close37:hover,
        .close37:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close38 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close38:hover,
        .close38:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close39 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close39:hover,
        .close39:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close40 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close40:hover,
        .close40:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close41 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close41:hover,
        .close41:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close42 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close42:hover,
        .close42:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close43 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close43:hover,
        .close43:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close44 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close44:hover,
        .close44:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close45 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close45:hover,
        .close45:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close46 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close46:hover,
        .close46:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close47 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close47:hover,
        .close47:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close48 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close48:hover,
        .close48:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close49 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close49:hover,
        .close49:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close50 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close50:hover,
        .close50:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close51 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close51:hover,
        .close51:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close52 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close52:hover,
        .close52:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close53 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close53:hover,
        .close53:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close54 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close54:hover,
        .close54:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close55 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close55:hover,
        .close55:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close56 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close56:hover,
        .close56:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close57 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close57:hover,
        .close57:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close58 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close58:hover,
        .close58:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close59 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close59:hover,
        .close59:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close60 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close60:hover,
        .close60:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close61 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close61:hover,
        .close61:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close62 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close62:hover,
        .close62:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close63 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close63:hover,
        .close63:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close64 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close64:hover,
        .close64:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close65 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close65:hover,
        .close65:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close66 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close66:hover,
        .close66:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close67 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close67:hover,
        .close67:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close68 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close68:hover,
        .close68:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close69 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close69:hover,
        .close69:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close70 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close70:hover,
        .close70:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close71 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close71:hover,
        .close71:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close72 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close72:hover,
        .close72:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close73 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close73:hover,
        .close73:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close74 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close74:hover,
        .close74:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close75 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close75:hover,
        .close75:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close76 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close76:hover,
        .close76:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close77 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close77:hover,
        .close77:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close78 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close78:hover,
        .close78:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close79 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close79:hover,
        .close79:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close80 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close80:hover,
        .close80:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close81 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close81:hover,
        .close81:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close82 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close82:hover,
        .close82:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close83 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close83:hover,
        .close83:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close84 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close84:hover,
        .close84:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close85 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close85:hover,
        .close85:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close86 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close86:hover,
        .close86:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close87 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close87:hover,
        .close87:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close88 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close88:hover,
        .close88:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close89 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close89:hover,
        .close89:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close90 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close90:hover,
        .close90:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close91 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close91:hover,
        .close91:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close92 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close92:hover,
        .close92:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close93 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close93:hover,
        .close93:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close94 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close94:hover,
        .close94:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close95 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close95:hover,
        .close95:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close96 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close96:hover,
        .close96:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close97 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close97:hover,
        .close97:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close98 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close98:hover,
        .close98:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close99 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close99:hover,
        .close99:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close100 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close100:hover,
        .close100:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close101 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close101:hover,
        .close101:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close102 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close102:hover,
        .close102:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close103 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close103:hover,
        .close103:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close104 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close104:hover,
        .close104:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close105 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close105:hover,
        .close105:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close106 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close106:hover,
        .close106:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close107 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close107:hover,
        .close107:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close108 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close108:hover,
        .close108:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close109 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close109:hover,
        .close109:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close110 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close110:hover,
        .close110:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close111 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close111:hover,
        .close111:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close112 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close112:hover,
        .close112:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close113 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close113:hover,
        .close113:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close114 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close114:hover,
        .close114:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close115 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close115:hover,
        .close115:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close116 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close116:hover,
        .close116:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close117 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close117:hover,
        .close117:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close118 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close118:hover,
        .close118:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close119 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close119:hover,
        .close119:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close120 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close120:hover,
        .close120:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close121 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close121:hover,
        .close121:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close122 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close122:hover,
        .close122:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close123 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close123:hover,
        .close123:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close124 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close124:hover,
        .close124:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close125 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close125:hover,
        .close125:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close126 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close126:hover,
        .close126:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close127 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close127:hover,
        .close127:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close128 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close128:hover,
        .close128:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close129 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close129:hover,
        .close129:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close130 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close130:hover,
        .close130:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close131 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close131:hover,
        .close131:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close132 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close132:hover,
        .close132:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close133 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close133:hover,
        .close133:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close134 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close134:hover,
        .close134:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close135 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close135:hover,
        .close135:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close136 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close136:hover,
        .close136:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        
        .close137 {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        
        .close137:hover,
        .close137:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        /*collapsible css*/
        
        .collapsible {
            background-color: rgb(45, 163, 108);
            color: white;
            cursor: pointer;
            width: 100%;
            height: 40px;
            padding: 5px;
            border: none;
            border-radius: 10px;
            text-align: left;
            outline: none;
            font-size: 12;
        }
        
        .active,
        .collapsible:hover {
            background-color: rgb(126, 112, 133);
        }
        
        .collapsible:after {
            float: right;
            margin-left: 5px;
        }
        
        .active:after {
            content: "\2212";
        }
        
        .content {
            padding: 3px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #ffffff;
        }
        
        .collapsible_image {
            height: 400px;
            width: 100%;
        }
        
        @media only screen and (min-width:800px) {
            .collapsible {
                font-size: 15;
            }
        }
        
        @media only screen and (min-width:1100px) {
            .collapsible {
                font-size: 17;
            }
        }